<div class="div">
    <h3>Contenedor de acciones</h3>
     <button (click)="emitirClick('1')" type="button" class="btn btn-primary btn-lg btn-block">1</button>
     <button (click)="emitirClick('2')" type="button" class="btn btn-primary btn-lg btn-block">2</button>
     <button (click)="emitirClick('3')" type="button" class="btn btn-primary btn-lg btn-block">3</button>
     <button (click)="emitirClick('4')" type="button" class="btn btn-primary btn-lg btn-block">4</button>
     <button (click)="emitirClick('5')" type="button" class="btn btn-primary btn-lg btn-block">5</button>
     <button (click)="emitirClick('6')" type="button" class="btn btn-primary btn-lg btn-block">6</button>
     <button (click)="emitirClick('7')" type="button" class="btn btn-primary btn-lg btn-block">7</button>
     <button (click)="emitirClick('8')" type="button" class="btn btn-primary btn-lg btn-block">8</button>
     <button (click)="emitirClick('9')" type="button" class="btn btn-primary btn-lg btn-block">9</button>
    </div>
